<!-- Inserts the content from base.html-->

{% extends "base.html" %}

<!-- defines what will display in the block content that was declared in base.html-->

{% block content %}

        <h1>Build an Blog</h1>

        <!-- conditional using jinja syntax, checking for lenght of entries list -->

        {% if entries|length == 0 %}
        <p>There Are No Blog Entries Yet</p>

        {% else %}
       
            {% for entry in entries %}
            <!-- /blog?id=" + str(new_entry.id) calls the blog route and it passes the id of each entry  -->
            <a href="/blog?id={{entry.id}}"><h2>{{entry.title}}</h2></a>
            <p>{{entry.body}}</p>
            <hr/>
            {% endfor %}
        

        {% endif %}

{% endblock %}

<!-- end of block content -->