<!-- Inserts the content from base.html-->

{% extends "base.html" %}

<!-- defines what will display in the block content that was declared in base.html-->

{% block content %}
        <h1>Add a Blog Entry</h1>
        <form method="post">
            <label for="title">Title for your new blog:
                <input type="text" name="title" />
            </label>
            <!-- <label for="body">Your new blog:
                    <textarea name="body"></textarea>
            </label>                      -->
            <input type="submit" value='Add Entry'/>
        </form>

        <hr/> 




        <h1>Build a Blog</h1>

        <!-- conditional using jinja syntax, checking for lenght of entries list -->

        {% if titles|length == 0 %}
        <p>There Are No Blog Entries Yet</p>

        {% else %}
        <ul>
            {% for title in titles %}
            <li>{{title}}</li>
            {% endfor %}
        </ul>

        {% endif %}

{% endblock %}

<!-- end of block content -->