<!-- Inserts the content from base.html-->

{% extends "base.html" %}

<!-- defines what will display in the block content that was declared in base.html-->

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method="POST">
        <label for="title">Title for your new blog:
            <input type="text" name="title" value='{{title}}' />
        </label>
        <span class="error">{{invalid_blog_title_error}}</span>
        <br/>
        <label for="body">Your new blog:
                <textarea name="body" >{{body}}</textarea>
        </label>
        <span class="error">{{invalid_blog_body_error}}</span>
        <br/>                     
        <input type="submit" value='Add Entry'/>
    </form>

    <hr/> 


{% endblock %}

<!-- end of block content -->