<!-- Inserts the content from base.html-->

{% extends "base.html" %}

<!-- defines what will display in the block content that was declared in base.html-->

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method="POST">
        <label for="title">Title for your new blog:</label><br/>
            <input type="text" name="title" value='{{title}}' />
        <br/>
        <span class="error">{{invalid_blog_title_error}}</span>
        <br/><br/>
        <label for="body">Your new blog:</label><br/>
                <textarea name="body" rows="10" cols="50">{{body}}</textarea>
        <br/>
        <span class="error">{{invalid_blog_body_error}}</span>
        <br/><br/>                     
        <input type="submit" value='Add Entry'/>
    </form>



{% endblock %}

<!-- end of block content -->