<!-- Inserts the content from base.html-->

{% extends "base.html" %}

<!-- defines what will display in the block content that was declared in base.html-->

{% block content %}

        <h1>Blog Posts</h1>

        {% if entries|length == 0 %}
        <p>There Are No Blog Entries By This User Yet</p>

        {% else %}
            
            {% for entry in entries %}
            <a href="/blog?id={{entry.id}}"><h2>{{entry.title}}</h2></a>
            <p>{{entry.body}}</p>
            <hr/>
            {% endfor %}

        {% endif %}


{% endblock %}

<!-- end of block content -->